/*color*/
$color-01: blue;
$color-02: #000;
$color-03: lightgrey;
$color-04: green;
$color-05: yellow;


/*fonts-size*/
$font-01: 40px;
$font-02: 50px;


/*sizes*/
$size-01: 300px;
$size-02: 600px;
$size-03: 350px;


/*fonts-style*/
$fonts-01:'Big Shoulders Stencil Display', cursive;


/*align-items*/
$align-01: center;   


/*justify*/
$justify-01: space-between;